{% extends 'news/base.html' %}
{% block titleBlock %}
文章详情页
{% endblock %}

{% block contentBlock %}
<div class="detail_con fl">
    <h3>{{ data.news.title }}</h3>
    <div class="detail_about clearfix">
        <span class="time_souce fl">{{ data.news.create_time }} 来源: {{ data.news.source }}</span>
        <span class="comment fr">{{ data.news.comments_count }}</span>
    </div>
    {{ data.news.content | safe }}

    {% if data.user_info %}
        <form action="" class="comment_form" data-newsid="{{ data.news.id }}>
            <div class="person_pic">
                <img src="{% if data.user_info.avatar_url %}
                    {{ data.user_info.avatar_url }}
                {% else %}
                    ../../static/news/images/person01.png
                {% endif %}" alt="用户图标">
            </div>
            <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
            <input type="submit" name="" value="评 论" class="comment_sub">
        </form>
    {% else %}
        <div class="comment_form_logout">
            登录发表你的评论
        </div>
    {% endif %}

    <div class="comment_count">
        {{ data.news.comments_count }}条评论
    </div>
    ...
</div>
{% endblock %}

{% block authorBlock %}
<div class="author_card">
                <a href="#" class="author_pic"><img src="../images/user_pic.png" alt="author_pic"></a>
                <a href="#" class="author_name">张大山</a>
                <div class="author_resume">张大山的简介,张大山</div>
                <div class="writings"><span>总篇数</span><b>23</b></div>
                <div class="follows"><span>粉丝</span><b>36</b></div>
                <a href="javascript:;" class="focus fr">关注</a>
                <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
            </div>
{% endblock %}